<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">¡Te lo cambio!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
        <%= current_user.name %> |
        <%= link_to 'Cerrar Sesion', destroy_user_session_path, class: "nav-link", method: :delete %>
      </li>
      <% else %>
        <li class="nav-item">
        <%= link_to 'Iniciar Sesion', new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to 'Registrarse', new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
